# AI 02 - The Perceptron

이 실습은 제출하지 않습니다.

> 학번:
>
> 이름:

---

In [ ]:
# 2.1
def AND(x1, x2):
 w1, w2, theta = 0.5, 0.5, 0.7
 tmp = x1 * w1 + x2 * w2
 if tmp <= theta:
  return 0
 elif tmp > theta:
  return  1
print( AND(0,0 ) )
print( AND(1,0 ) )
print( AND(0,1 ) )
print( AND(1,1 ) )

0
0
0
1

In [ ]:
# 2.2
import numpy as np
x = np.array( [0, 1] )
w = np.array( [0.5, 0.5] )
b = -0.7
print( w*x )
print( np.sum(w*x) )
print( np.sum(w*x) + b )

[0.  0.5]
0.5
-0.19999999999999996

In [ ]:
# 2.3
import numpy as np
def AND(x1, x2):
 x = np.array([x1, x2])
 w = np.array([0.5, 0.5])
 b = -0.7
 tmp = np.sum(w*x) + b
 if tmp <= 0:
  return 0
 else:
  return 1
for xs in [(0, 0), (1, 0), (0, 1), (1, 1)]:
 y = AND(xs[0], xs[1])
 print(str(xs) + " -> " + str(y))

(0, 0) -> 0
(1, 0) -> 0
(0, 1) -> 0
(1, 1) -> 1

In [ ]:
# 2.4
import numpy as np
def NAND(x1, x2):
 x = np.array([x1, x2])
 w = np.array([-0.5, -0.5])
 b = 0.7
 tmp = np.sum(w*x) + b
 if tmp <= 0:
  return 0
 else:
  return 1
for xs in [(0, 0), (1, 0), (0, 1), (1, 1)]:
 y = NAND(xs[0], xs[1])
 print(str(xs) + " -> " + str(y))

(0, 0) -> 1
(1, 0) -> 1
(0, 1) -> 1
(1, 1) -> 0

In [ ]:
# 2.5
import numpy as np
def OR(x1, x2):
 x = np.array([x1, x2])
 w = np.array([0.5, 0.5])
 b = -0.2
 tmp = np.sum(w*x) + b
 if tmp <= 0:
  return 0
 else:
  return 1
for xs in [(0, 0), (1, 0), (0, 1), (1, 1)]:
 y = OR(xs[0], xs[1])
 print(str(xs) + " -> " + str(y))

(0, 0) -> 0
(1, 0) -> 1
(0, 1) -> 1
(1, 1) -> 1

In [ ]:
# 2.6

import numpy as np
def XOR(x1, x2):
 s1 = NAND(x1, x2)
 s2 = OR(x1, x2)
 y = AND(s1, s2)
 return y
for xs in [(0, 0), (1, 0), (0, 1), (1, 1)]:
 y = XOR(xs[0], xs[1])
 print(str(xs) + " -> " + str(y))

(0, 0) -> 0
(1, 0) -> 1
(0, 1) -> 1
(1, 1) -> 0